body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

hr {
  background-color: #ccc;
  margin: 0 0 10px 0;
}

.center {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

/* -----------------Navigation bar----------------- */
.nav {
  display: flex;
  flex-direction: row;
  height: 66px;
}

.page-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
}

.page-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
}

.page-nav li {
  padding: 0px 30px;
  margin: auto;
}

.page-nav .link {
  margin: 0px auto;
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  position: relative;
}

.page-nav li:first-child {
  float: left;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 210px;
}

.user-info ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
}

.user-info li {
  padding: 0px 10px;
  margin: auto;
}

.user-info li:first-child {
  width: 170px;
}

.avatar {
  height: 30px;
  border-radius: 25px;
}

/* ----------------------App Header---------------------- */

.app-header {
  text-align: center;
  background-color: rgb(190, 190, 190);
}

/* ---------------------- Question  ---------------------- */
.question-card {
  max-width: 500px;
  margin: 0 auto;
  border: 2px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 3px;
}

.option {
  text-align: left;
  padding-left: 30px;
}

.question-card .avatar {
  height: 70px;
  border-radius: 35px;
  margin: 15px;
}

.question-card .submit-button {
  padding-top: 20px;
  padding-bottom: 20px;
}

.question-card .submit-button button {
  width: 80%;
}

.result {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
  white-space: pre-wrap;
}

.progress-bar {
  white-space: pre-wrap;
  height: 14px;
  background-color: black;
}

.progress-bar-container {
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid #ccc;
  width: 85%;
}

/* ---------------------- Login ---------------------- */
.login {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: solid #ccc 2px;
  border-radius: 3px;
}

.login .header {
  border-bottom: solid #ccc 2px;
  background-color: rgb(237, 236, 236);
}

.login h4 {
  margin: 0px;
  padding-top: 10px;
}

.login p {
  font-size: small;
  margin-top: 0;
  padding-top: 5px;
}

.login img {
  width: 40%;
}

.login select {
  width: 90%;
  height: 40px;
}

.login div {
  padding-bottom: 15px;
}

.login button {
  width: 90%;
  height: 40px;
  font-weight: bold;
}

/* ---------------------- Leader Board ---------------------- */
.vl {
  border-left: 2px solid #ccc;
  height: 110px;
  position: relative;
}

/* ---------------------- Home page  ---------------------- */

.question-list {
  max-width: 500px;
  margin: 0 auto;
  border: 2px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 3px;
}

.tab {
  width: 50%;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.selected-tab {
  background-color: white;
}

.question-list ul {
  padding: 0;
}

.question-list .vl:first-of-type {
  height: 30px;
}
